language: node_js
node_js:
- "node"
notifications:
  email: false
before_script:
  - bower install
deploy:
  provider: heroku
  api_key:
    secure: VJWdKgHAlBQdxbe04iuWKX1XxksK8xHVUU/S/pVRBpnDktv562YWokwaxodnK+bZ6qICq97THtSRtT35CXZjnBZDYvKudyf7FbYRVbQbLlsVyXEeyN/5JCMlU+WOQ0rjO/Z7tQGvJWnkU2/e7lKMb9VjxmstwD4mqZRUAE8cWuhzcdBrnn/QgURiCtu0X1DuvCwQBovtBF8YeoT/zJcTPqKw88I3dF/hu3IsO5biwk2WRpDdpbZ+/xmKM2R/cDEXNEiUoEnzma8xvWQ1ifZgO7wt/5R3y1QLWqYsmz4Yt5pjo9LEWKE6XOgc5t/95KttN3yhOyaQcqyDwYHKdD4ijn6A+IeswVW5Wm2aRLpr8SCF/w6Z6iPiQuJfGVrSc0GnCsT5TVetgQN1lVE26Q02DcUqlWMHv9UlHDROhHohdzJ5Zn5G4yJbSt+KAn8FqteFqgtrsMeb9WtoH9GoN6E0JDbvwn8NaWJsUTevQBwe1l49S8PXIpS7nDNG2aaaAtgtVTcUHNWta3OOJoWL3Gg/JRFW8IsBCodtZcRrwA651fiF6OPA22zND+7MEBHa19ZReNrTIsGxqL5l+3zQpFwsCd+STPVPTDsVJ7V4sBGmKtq8cZG53z808elIp87GxioRKRB/SutTtfOl7jUJfOaAfiyM6mxiBTIy5GibfBTrbFg=
  app: glacial-meadow-43612
  on:
    repo: joelklingler/open-calendar
